<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
      <!-- 链接你想要的MySQL服务器信息-->
        <property name="driver" value="com.mysql.jdbc.Driver"/>
        <!-- 仅测试用 之后会改参数-->
        <property name="url" value="jdbc:mysql://192.168.3.13/newtable?allowPublicKeyRetrieval=true&amp;useSSL=false"/>
        <property name="username" value="ghx"/>
        <property name="password" value="ghx020719"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>  
    <!-- 直接进行包扫描 方便多了-->
    <package name="org.maven.apache.mapper"/>
  </mappers>
</configuration>