@import "colors.css";
.chart-title {
    -fx-text-fill: -darkGrey-theme;
    -fx-font-size: 16px;
    -fx-font-family: "Lucida Sans";
}
.chart{

}
.chart-series-line{
    -fx-stroke-width: 1px;
}
.default-color1.chart-series-line{
    -fx-stroke: #065c8f;
}
.default-color2.chart-series-line{
    -fx-stroke: #8bc34a;
}
.default-color3.chart-series-line{
    -fx-stroke: #ff4122;
}
.chart-line-symbol{
    -fx-scale-x: 0.8;
    -fx-scale-y: 0.8;
}

.separator *.line {
    -fx-border-width: 0.5px;
    -fx-border-color:  #aaaaaa;
}
.default-color1.chart-line-symbol{
    -fx-background-color: #065c8f,  #eeeeee;
    -fx-scale-x: 0.8;
    -fx-scale-y: 0.8;
}
.default-color2.chart-line-symbol{
    -fx-background-color: #8bc34a,  #eeeeee;
    -fx-scale-x: 0.8;
    -fx-scale-y: 0.8;
}
.default-color3.charts-line-symbol{
    -fx-background-color: #ff4122,  #eeeeee;

}
.chart-legend{
    -fx-background-color: transparent;
    -fx-font-size: 10px;
    -fx-font-family: "Lucida Sans";
}
.chart-plot-background {
    -fx-background-color: transparent;
}
.chart-vertical-grid-lines {
    -fx-stroke: #aaaaaa;
}
.chart-horizontal-grid-lines {
    -fx-stroke: #aaaaaa;
}
.chart-alternative-row-fill {
    -fx-fill: white;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}
.axis {
    -fx-font-size: 1.4em;
    -fx-tick-label-fill: -darkGrey-theme;
    -fx-font-family: Tahoma;
    -fx-tick-length: 20;
    -fx-minor-tick-length: 10;
}

.axis-label {
    -fx-text-fill: -darkGrey-theme;
    -fx-font-weight: bold;
}
.axis-tick-mark {
    -fx-stroke: #aaaaaa;
    -fx-stroke-width: 1;
}
.axis-minor-tick-mark {
    -fx-stroke: #aaaaaa;
    -fx-stroke-width: 0.5;
}