@import "colors.css";

.JFXButton{
    -fx-background-color:  -appPage-theme;
    -fx-background-radius: 5;
    -fx-text-fill: -pure-white;
}

.JFXButton:hover {
    -fx-background-color: -pure-white;
    -fx-border-radius: 5;
    -fx-border-color: -appPage-theme;
    -fx-text-fill: -appPage-theme;
}

.searchButton{
    -fx-background-color:  #223c40;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}
.searchButton:hover{
    -fx-background-color: transparent;
    -fx-border-color: #223c40;
    -fx-border-width: 2;
}