@import "colors.css";

.JFXButton{
    -fx-background-color:  -darkGrey-theme;
    -fx-background-radius: 10;
    -fx-text-fill: -pure-white;
}

.JFXButton:hover {
    -fx-background-color: -pure-white;
    -fx-border-radius: 10;
    -fx-border-color: -darkGrey-theme;
    -fx-text-fill: -darkGrey-theme;
}

.inputFields{
    -mfx-main: -darkGrey-theme;
}

.errorMessageDialog{
    -fx-text-fill: red;
}
