@import "colors.css";
@import "parameters.css";

.JFXButton{
    -fx-background-color:  -darkGrey-theme;
    -fx-background-radius: -logIn-buttonBorder-radius;
    -fx-text-fill: -pure-white;
}

.JFXButton:hover {
    -fx-background-color: -pure-white;
    -fx-border-radius: -logIn-buttonBorder-radius;
    -fx-border-color: -darkGrey-theme;
    -fx-text-fill: -darkGrey-theme;
}

.inputFields{
    -mfx-main: -darkGrey-theme;
}
