.text-field{
    -fx-background-color: -fx-text-box-border, -fx-background;
    -fx-text: Username;
}

.text-field {
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
}

.text-field:focused {
    -fx-background-color: -fx-focus-color, -fx-background;

}
