<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 这个文件的文件路径不要动-->
<!-- 名称空间-->
<mapper namespace="org.maven.apache.mapper.DateTransactionMapper">


    <insert id="addTransaction" useGeneratedKeys="true" keyProperty="ItemID">
        insert into DateTransactionTable(ItemName, StaffName,AddUnit,RemoveUnit,CurrentUnit,RecordTime,Purpose)
        values (#{ItemName},#{StaffName},#{AddUnit},#{RemoveUnit},#{CurrentUnit},#{RecordTime},#{Purpose});
    </insert>


    <update id="changeAddUnitNumber">
        update DateTransactionTable
        <set>
            AddUnit =#{AddUnit}
        </set>
        where ItemID = #{ItemID};

    </update>

    <update id="changeRemoveUnitNumber">
        update DateTransactionTable
        <set>
            RemoveUnit =#{RemoveUnit}
        </set>
        where ItemID = #{ItemID};

    </update>
    <update id="changeCurrentUnitNumber">

        update DateTransactionTable
        <set>
            CurrentUnit =#{CurrentUnit}
        </set>
        where ItemID = #{ItemID};
    </update>

    <update id="IdGapInside">
        SET @auto_id = 0;
        update DateTransactionTable
        <set>

            ItemID = (@auto_id := @auto_id + 1)
        </set>
        where 1=1;
        ALTER TABLE DateTransactionTable AUTO_INCREMENT = 1;
    </update>


    <delete id="deleteById">
        delete from DateTransactionTable where ItemID = #{id};
    </delete>


    <select id="selectAll" resultType="org.maven.apache.dateTransaction.DateTransaction">
        select * from DateTransactionTable;

    </select>
    <select id="selectById" parameterType="int" resultType="org.maven.apache.dateTransaction.DateTransaction">
        select ItemId,ItemName,AddUnit,RemoveUnit,CurrentUnit,RecordTime
        from DateTransactionTable
        where ItemID = #{id};
    </select>

    <select id="askedDate" resultType="org.maven.apache.dateTransaction.DateTransaction">
        select * from DateTransactionTable
        where RecordTime like #{dateWanted};
    </select>

    <select id="pageAskedNOOrder" resultType="org.maven.apache.dateTransaction.DateTransaction">
        select * from DateTransactionTable

        Limit #{pageNumberCal},#{pageSize};
    </select>

    <select id="pageAskedDateAscend" resultType="org.maven.apache.dateTransaction.DateTransaction">
        select * from DateTransactionTable
        order by str_to_date(RecordTime, '%Y-%m-%d :%H:%i:%s') asc
        Limit #{pageNumberCal},#{pageSize};
    </select>

    <select id="pageAskedDateDescend" resultType="org.maven.apache.dateTransaction.DateTransaction">
        select * from DateTransactionTable
        order by str_to_date(RecordTime, '%Y-%m-%d :%H:%i:%s') desc
        Limit #{pageNumberCal},#{pageSize};
    </select>

    <select id="pageAskedAddUnitAscend" resultType="org.maven.apache.dateTransaction.DateTransaction">
        SELECT  *
        from DateTransactionTable
        order by AddUnit asc
        Limit #{pageNumberCal},#{pageSize};
    </select>

    <select id="pageAskedAddUnitDescend" resultType="org.maven.apache.dateTransaction.DateTransaction">
        SELECT  *
        from DateTransactionTable
        order by AddUnit desc
        Limit #{pageNumberCal},#{pageSize};
    </select>

    <select id="pageAskedRemoveUnitAscend" resultType="org.maven.apache.dateTransaction.DateTransaction">
        SELECT  *
        from DateTransactionTable
        order by RemoveUnit asc
        Limit #{pageNumberCal},#{pageSize};

    </select>
    <select id="pageAskedRemoveUnitDescend" resultType="org.maven.apache.dateTransaction.DateTransaction">
        SELECT  *
        from DateTransactionTable
        order by RemoveUnit desc
        Limit #{pageNumberCal},#{pageSize};
    </select>
    <select id="pageAskedCurrentUnitAscend" resultType="org.maven.apache.dateTransaction.DateTransaction">
        SELECT  *
        from DateTransactionTable
        order by CurrentUnit asc
        Limit #{pageNumberCal},#{pageSize};

    </select>

    <select id="pageAskedCurrentUnitDescend" resultType="org.maven.apache.dateTransaction.DateTransaction">
        SELECT  *
        from DateTransactionTable
        order by CurrentUnit desc
        Limit #{pageNumberCal},#{pageSize};
    </select>

    <select id="pageAskedDateAddUnitDescend" resultType="org.maven.apache.dateTransaction.DateTransaction">
        SELECT *
        from DateTransactionTable
        where RemoveUnit =0
        order by RecordTime desc
        limit 0,4;
    </select>

    <select id="pageAskedDateRemoveUnitDescend" resultType="org.maven.apache.dateTransaction.DateTransaction">
        SELECT *
        from DateTransactionTable
        where AddUnit =0
        order by RecordTime desc
        limit 0,4;
    </select>


</mapper>