<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 这个文件的文件路径不要动-->
<!-- 名称空间-->
<mapper namespace="org.maven.apache.mapper.DateTransactionMapper">


    <insert id="addTransaction" useGeneratedKeys="true" keyProperty="ItemID">
insert into DateTransactionTable(ItemName, AddUnit,RemoveUnit,CurrentUnit,RecordTime)
        values (#{ItemName},#{AddUnit},#{RemoveUnit},#{CurrentUnit},now());
    </insert>


    <update id="addUnitNumber">
        update DateTransactionTable
        <set>
        AddUnit =#{updateNumber}
        </set>
        where ItemID = #{id};

    </update>

    <update id="removeUnitNumber">
        update DateTransactionTable
        <set>
           RemoveUnit =#{number}
        </set>
        where ItemID = #{id};

    </update>
    <update id="currentUnitNumber">

        update DateTransactionTable
        <set>
            CurrentUnit =#{number}
        </set>
        where ItemID = #{id};
    </update>


    <delete id="deleteById">
        delete from DateTransactionTable where ItemID = #{id};
    </delete>


    <select id="selectAll" resultType="org.maven.apache.dateTransaction.DateTransaction">
    select * from DateTransactionTable;

    </select>
    <select id="selectById" resultType="org.maven.apache.dateTransaction.DateTransaction">
        select ItemId,ItemName,AddUnit,RemoveUnit,CurrentUnit,RecordTime
        from DateTransactionTable
        where ItemID = #{id};
    </select>

    <select id="askedDate" resultType="org.maven.apache.dateTransaction.DateTransaction">
        select * from  DateTransactionTable
        where RecordTime like '2022-12-24%'
    </select>


</mapper>