<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 这个文件的文件路径不要动-->
<!-- 名称空间-->
<mapper namespace="org.maven.apache.mapper.MessageMapper">

<!-- star 是deafult 后期update如果收藏-->
    <insert id="addNewMessage">
 insert into MessageTable (StaffName,Category,Information,MessageTime) values
       (#{StaffName},#{Category},#{Information},#{MessageTime});
    </insert>

    <!--  -->

    <update id="update">
   update MessageTable
       <set>
          <if test=" StaffName!= null and StaffName !=''">
             StaffName = #{StaffName},
          </if>

          <if test=" Category!= null and Category !=''">
             Category = #{Category},
          </if>
          <if test=" Information!= null and Information !=''">
             Information = #{Information},
          </if>

             MessageTime = #{MessageTime},

           Star=#{Star}

       </set>
    where MessageID =#{MessageID};
    </update>
    <update id="starMessage">
        update MessageTable
        <set>
            Star =1;
        </set>
        where MessageID=#{id};
    </update>

    <!--  -->
    <delete id="deleteById">
   delete from MessageTable
       where MessageID =#{id};

    </delete>

    <!--  -->

    <select id="selectAll" resultType="org.maven.apache.message.Message">
    select *
        from MessageTable
        order by MessageTime desc;

    </select>

    <!--  -->
    <select id="selectById" resultType="org.maven.apache.message.Message">
    select * from MessageTable where MessageID=#{MessageID}


    </select>

    <update id="IdGapInside">
        SET @auto_id = 0;
        update MessageTable
        <set>
            MessageID = (@auto_id := @auto_id + 1)
        </set>
        where 1=1;
        ALTER TABLE MessageTable AUTO_INCREMENT = 1;
    </update>

    <!--  -->


</mapper>