<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 这个文件的文件路径不要动-->
<!-- 名称空间-->
<mapper namespace="org.maven.apache.mapper.StaffMapper">
    <insert id="add" useGeneratedKeys="true" keyProperty="staffID">
        insert into StaffTable(staffName, status, otherInfo)
        values (#{staffName}, #{status}, #{otherInfo})
    </insert>

    <update id="updateStaff">
        update StaffTable
        <set>
            staffName = #{staffName},
            status = #{status},
            otherInfo = #{otherInfo}
        </set>
        where staffID = #{staffID};
    </update>

    <select id="selectById" parameterType="int" resultType="org.maven.apache.staff.Staff">
        select * from StaffTable where StaffID = #{id};
    </select>

    <select id="selectAll" resultType="org.maven.apache.staff.Staff">
        select * from StaffTable;
    </select>

    <select id="selectByStatus" resultType="org.maven.apache.staff.Staff">
        select * from StaffTable where status = #{status};
    </select>


</mapper>