<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-content.xsd">

    <!-- 开启自动化扫描 -->

    <!-- 邮件发送器（提供了邮件发送接口，透明创建Java Mail的Mime message ，及邮箱发送位置-->
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="smtp.gmail.com" />
        <property name="port" value="587" />
        <property name="defaultEncoding" value="utf-8"/>
        <property name="username" value="javamail.springboot" />
        <property name="password" value="wjwbizfjurjknukb"/>

    </bean>

    <!-- this is a template message that we can preload with default state -->
    <bean id="templateMessage" class="org.springframework.mail.SimpleMailMessage">
        <property name="from" value="javamail.springboot@gmail.com"/>
        <property name="subject" value="Your order"/>
    </bean>

    <bean id="orderManager" class="com.mycompany.businessapp.support.SimpleOrderManager">
        <property name="mailSender" ref="mailSender"/>
        <property name="templateMessage" ref="templateMessage"/>
    </bean>
</beans>

